.ui-loading, .ui-loader, .panel-template {
	display: none;
}

.container {
	margin-top: 20px;
}

.btn-save {
	margin-bottom: 20px;
}

.add-player {
	text-align: center;
}

.btn-add-player {
	margin: 2px;
	width: 48%;
}

.panel-container {
	margin-bottom: 20px;
}

.panel-heading {
	font-weight: bold;
}

.panel-heading .accordion-toggle:after {
	font-family: 'FontAwesome';
	content: '\f078';
	float: right;
	color: #CCC;
}

.panel-heading .accordion-toggle.collapsed:after {
	content: '\f054';
}

.handle {
	padding-right: 10px;
	color: #CCC;
}

.btn-delete {
	display: none;
	padding: 6px 10px 6px 10px;
	margin: -6px 12px 0px 0px;
	float: right;
}
